<a href="https://colab.research.google.com/github/prekhanshi/Experiment-5-Study-of-SETs-and-Dictionary/blob/main/Study_of_sets_and_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##EDA using python
##expet - 4
##study of set and dictionary
####Name :Prekhanshi Kumbhakar
###PRN : 25070123151
###batch : Entc A1

In [6]:
#creation of set
set1 = {"prek","satvik","aarshabh"}
print(set1)

{'aarshabh', 'satvik', 'prek'}

In [5]:
#duplicates not allowed
set1 = {"prek","satvik","aarshabh","prek"}
print(set1)

{'aarshabh', 'satvik', 'prek'}

In [4]:
#the values true and 1 are concidered same
set1 = {"prek","satvik","aarshabh",True,1,2}
print(set1)

{True, 2, 'satvik', 'aarshabh', 'prek'}

In [7]:
#set with strings integers and boolean values
set1={"prek",56,True,78,"kai",123.54}
set1

{123.54, 56, 78, True, 'kai', 'prek'}

In [10]:
#searching option
set1 = {"prek","satvik","aarshabh",True,1,2}
print("satvik" in set1)
print("king"in set1)

True
False

In [9]:
#once a set is created you cannot replace its items but you can add new
set1 = {"prek","satvik","aarshabh",True,1,2}
set1.add("king")
print(set1)

{True, 2, 'satvik', 'aarshabh', 'king', 'prek'}

In [8]:
#once a set is created you cannot replace its items but you can remove
set1 = {"prek","satvik","aarshabh",True,1,2}
set1.remove("prek")
print(set1)

{True, 2, 'satvik', 'aarshabh'}

In [ ]:
#set operations
A = {1,2,3,4,5}
B = {4,5,6,7,8}
print ("union",A|B)
print("intersection",A&B)
print("Difference",A-B)
print("symmetric difference",A^B)

union {1, 2, 3, 4, 5, 6, 7, 8}
intersection {4, 5}
Difference {1, 2, 3}
symmetric difference {1, 2, 3, 6, 7, 8}

In [ ]:
#froszen set
x = frozenset({"aanjneya","satvik","aarshabh"})
print(x)
print(type(x))

frozenset({'aanjneya', 'aarshabh', 'satvik'})
<class 'frozenset'>

In [ ]:
#adding or removing of elements are not allowed in frozen set
x = frozenset({"aanjneya","satvik","aarshabh"})
x.add("king")
x.remove("aanjneya")
print(x)
print(type(x))

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
'''problem statement 1. unique event perticipants A college event has a list of students who registered multiple times by mistake.
write a progeam using set to store participant names and display only unique participants'''

'1. unique event perticipants A college event has a list of students who registered multiple times by mistake.\nwrite a progeam using set to store participant roll number and display only unique participants'

In [ ]:
partnames = ["aanjneya","satvik","aarshabh","aanjneya","dhavn","guddu","maahi","bedang","tanishta","gayatri","amey","bedang","guddu","maahi"]
Unique_partnames = set(partnames)
print(Unique_partnames)

{'maahi', 'aanjneya', 'guddu', 'gayatri', 'bedang', 'dhavn', 'tanishta', 'satvik', 'amey', 'aarshabh'}

In [ ]:
'''problem statement 2: three students choose elective subjects
find the common subjects chosen by both the students using set operations,'''

'three students choose elective subjects \nfind the common subjects chosen by both the students using set operations,'

In [ ]:
student1={"Maths","physics","chemistry","Biology"}
student2={"physics","chemistry","Maths","English"}
student3={"Maths","physics","chemistry","English"}
print("common subjects are :",student1&student2&student3)

common subjects are : {'Maths', 'chemistry', 'physics'}

In [ ]:
'''problem statement 3: one set contains studen in the cricket club,another in football club
find the students who are
1. in both clubs
2. in only one club'''

'problem statement 3: one set contains studen in the cricket club,another in football club\nfind the students who are \n1. in both clubs\n2. in only one club'

In [ ]:
cricket_club = {"ram","rahul","raj","aryan","vedant","soham"}
football_club = {"ram","shahruk","vedant","aanjeya","soham","varun"}
print("students in both clubs are :",cricket_club&football_club)
print("students in only one club are :",cricket_club^football_club)

students in both clubs are : {'soham', 'vedant', 'ram'}
students in only one club are : {'rahul', 'aanjeya', 'shahruk', 'aryan', 'varun', 'raj'}

In [ ]:
'''problem statement 5 : remvoe a discontinued course code'''

'problem statement 4 : remvoe a discontinued course code'

In [ ]:
courses = {"ETC101","ETC102","ETC103"}
courses.remove("ETC102")
print(courses)

{'ETC101', 'ETC103'}

In [ ]:
'''problem statement 6 : find the students present and students absent'''

'problem statement 6 : find the students present and students absent'

In [ ]:
#creation of dictionary
thisdict = {"Name": "Shahrukh Khan","YOB": 1965,"Occupation": "Actor"}
print(thisdict)

{'Name': 'Shahrukh Khan', 'YOB': 1965, 'Occupation': 'Actor'}

In [ ]:
#dictionary takes the latest value give by the key
thisdict = {"Name": "Shahrukh Khan","YOB": 1965,"Occupation": "Actor","YOB": 1960}
print(thisdict)

{'Name': 'Shahrukh Khan', 'YOB': 1960, 'Occupation': 'Actor'}

In [ ]:
thisdict = {"Name": "Shahrukh Khan","YOB": 1965,"Occupation": "Actor","YOB": 1960}
print(len(thisdict))

3

In [ ]:
#changing / adding key:value in dictionary
actor = {"Name": "Shahrukh Khan","YOB": 1965,"Occupation": "Actor"}
actor["super hit"] = "DDLJ"
x = actor.values()
print(x)

dict_values(['Shahrukh Khan', 1965, 'Actor', 'DDLJ'])

In [ ]:
#to find out a specific value
actor = {"Name": "Shahrukh Khan","YOB": 1965,"Occupation": "Actor"}
print("Name: ",actor["Name"])

Name:  Shahrukh Khan

In [ ]:
#adding or upating second element
actor = {"Name": "Shahrukh Khan","YOB": 1965,"Occupation": "Actor"}
actor["Occupation"] = "producer"
actor["YOB"] = 1960
print(actor)

{'Name': 'Shahrukh Khan', 'YOB': 1960, 'Occupation': 'producer'}

In [ ]:
#emoving the elements
actor = {"Name": "Shahrukh Khan","YOB": 1965,"Occupation": "Actor"}
actor.pop("YOB")
print("after removal :",actor)

after removal : {'Name': 'Shahrukh Khan', 'Occupation': 'Actor'}

In [ ]:
''' 1. A dictionary stores product names and their prices. write a python program to update the price of a given product'''

' 1. A dictionary stores product names and their prices. write a python program to update the price of a given product'

In [ ]:
dict1 = {"name":"sugar","price":40,"qty": "75kgs"}
dict1["price"] = 50
print(dict1)

{'name': 'sugar', 'price': 50, 'qty': '75kgs'}

In [ ]:
''' A dictionary stores student names and their prices. write a python program to seach for  student 's markusing the name,if the student is not found , display a suitable message'''

" A dictionary stores student names and their prices. write a python program to seach for  student 's markusing the name,if the student is not found , display a suitable message"

In [3]:
marks = {"prek":98,"satvik":99,"aarshabh":97}
name = input("enter the name of the student :")
print(marks.get(name,"student not found"))#get command first looks for the name if not present prints other msg

enter the name of the student :prek
98

In [ ]:
'''3. A dictionary stres usernmes and passwords write  python program to validte user login'''

'3. A dictionary stres usernmes and passwords write  python program to validte user login'

In [2]:
e_id = {"prek": "prek@123","Satvik":"Satvik@123","Aarshabh":"Aarshabh@123"}
name = input("enter the name :")
password = input("enter the password :")
if e_id.get(name) == password:
  print("welcome ")
else:
  print("either name or password is incorrect")

enter the name :prek
enter the password :prek@123
welcome

In [ ]:
''' 4. Dictionary tores student names and marks. Write a python program to find the stuent wh scored the highest marks.'''

' 4. Dictionary tores student names and marks. Write a python program to find the stuent wh scored the highest marks.'

In [1]:
marks = {"prek":98,"satvik":99,"aarshabh":97}
topper = max(marks,key = marks.get)
print("topper: ", topper)
print("marks: ", marks[topper])

topper:  satvik
marks:  99